  
    *{
    	margin:0;
    	padding:0;
    }
	body{
		font-family: 'Montserrat', sans-serif;
	}
    .container{
    	
    	padding:20px;
    	background:white;
    }
    .mobilenav-items{
    	display:flex;
    	align-items:center;
    	justify-content:space-between;

    }
    .first-items li{
    	list-style:none;
    }
    .second-items li{
    	list-style:none;
    }
    
    .first-items li i{
    	font-size:28px;
    }
    .second-items li  > i{
    	font-size:22px;
    }
    .second-items{
    	display:flex;
    	align-items:center;
    	gap:14px;
    }
    .first-items{
   	 display:flex;
    	align-items:center;
    	gap:14px;
    }
    
    .mobilemenulogo{
    	width:120px;
    
    }
    .cart{
    	position:relative;
    }
    .cartnumber{
    		width:10px;
    		height:10px;
    		position:absolute;
    		background-color:red;
    		color:white;
    		padding:4.5px;
    		font-size:13px;
    		border-radius:50px;
    		top:-6px;
    		right:-4px;
    		display:flex;
    		align-items:center;
    		justify-content:center;
    		
    }
    /* floating mobile menu */
    
    .wrapper{
    	position:absolute;
    	width:100%;
    	height:146vh;
    	transform:translateX(-100%);
    	transition:0.5s ease-in-out;
    	top:0;
		z-index:1;
		background:white;
    	
    }
    .showmenu{
    transform:translateX(0);
    }
    .banner{
    background:#fff7f3;
    height:70px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-right:20px;
    padding-left:20px;
    }
    .row{
    	background:white;
    	padding-top:25px;
    	padding-left:10px;	
    	display:flex; 
    	
    	justify-content:space-around;
    }
    
    .banner-close{
    	text-decoration:none;
    	background:#fff7f3;
    	width:40px;
    	height:40px;
    	display:flex;
    	align-items:center;
    	justify-content:center;
    	border-radius:50px;
    	
    }
    .banner-title{
    	color:red;
    	font-weight:bold;
    }
    .close{
    		font-size:22px;
    		color:red;
    }
    .close:hover{
    		color:red;
    }
    .column1{
    	width:50%;
    	display:flex;
    	flex-direction:column;
    	gap:15px;
    	
    }
     .column2{
    	width:50%;
    	display:flex;
    	flex-direction:column;
    	gap:15px;
    }
      .column1 a{
    	padding:10px;
    	text-decoration:none;
    	margin-left:10px;
    	margin-bottom:10px;
    	color:black;
    	font-size:15px;
    	
    }
    .column1 a:hover{
    
    	background-color:#fff7f3;
    	border-radius:10px;
    	
    	}
    	 .column2 a:hover{
    
    	background-color:#fff7f3;
    	border-radius:10px;
    	
    	}
    .column2 a{
    
    	text-decoration:none;
    	margin-left:10px;
    	margin-bottom:10px;
    	color:black;
    	padding:10px;
    	font-size:15px;
    }
    .column1 a span{
	margin-right:10px;
	background:#fff7f3;
	padding:10px;
	border-radius:20px;
	font-size:16px;
	color:black;
	display:inline;
	
	}
	 .column2  span{
	margin-right:10px;
	background:#fff7f3;
	padding:10px;
	border-radius:20px;
	font-size:16px;
	color:black;
	display:inline;
	
	}
	
	.bottom-menu{
	margin-top:10px;
	padding-left:40px;
	padding-top:20px;
	display: flex;
	flex-direction:column;
	gap:16px;
	
	}
	.bottom-menu a{
	text-decoration:none;
	font-size:15px;
	color:black;
	padding:10px;
	width:80%;
	
	}
	.bottom-menu a:hover{
	background-color:#fff7f3
	}
	
	.bottom-menu i{
		margin-right:10px;
		font-size:20px;
	}
	.active{
		background-color:#fff7f3
	}
	#menubtn{
		cursor:pointer;
		font-size:34px;
	
	}
	#loginicon{
		font-size: 32px;
	}
	
	.account{
	cursor:pointer;
	
	}

	.account:hover{
	color:#ed4c07;
		
	}
	.carts{
	cursor:pointer;
	color:black;
	font-size: 32px;
	
	}
	.carts:hover{
	
	color:#ed4c07;		
	
	}
	
	#menubtn:hover , #menubtn:focus{
	color:#ed4c07;
	}
	
	
	/* cart side bar  */
	.wrapper2{
	position:absolute;
    	width:80%;
    	height:120vh;
        transform:translateX(-100%);
    	transition:0.5s ease-in-out;
    	top:0;
    	Left:0;
    	background:red;
		overflow-x: hidden;
		z-index:1;
		background:white;
	
	}
	.banner2{
	
	 background:#fff7f3;
    height:70px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-right:20px;
    padding-left:20px;
	
	}
    .showcartsidebar{

        transform:translateX(0);
    }


/* desktop menu */

.menu-wrapper{

display:none;
margin-right:20px;

}
.menu-wrapper img{
	margin-left:20px;
    width:120px;
    height:60px;
}

.desktop-menu{
    display:flex;
    gap:25px;
    align-items: center;
    justify-content: center;
}
.desktop-menu li{
    list-style:none;
}
.desktop-menu li a{
    text-decoration:none;
    color:black;
    font-size:15px;
	font-weight: 600;
}
/* desktop menu icons */
#acount{
	font-size:28px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#login > span{
	font-size:12px;
	color:#323335;
	text-transform: capitalize;
	font-weight:500;
}

#cart2 {
	font-size:28px;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position:relative;
	top:2px;
}
#cart2 .cart-title{
	font-size:12px;
	color:#323335;
	text-transform: capitalize;
	font-weight:500;
	cursor: pointer;
}
.second-items{
	display: flex;
	align-items: center;
	justify-content: center;
}

.desktop-menu li a:hover{
    color:#376fd8;
}
#active{
    color:#ed4c07 !important;
}

/* hero section */
.hero-section{
	width:100%;
	height:90vh;
	background-image: url('../img/carousel-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
	z-index:0;
	display:flex;
	justify-content: center;
	align-items: center;
	
}
.hero-section::before{
	content:'';
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	top:0;
	left:0;
	width:100%;
	height: 90vh;
	z-index:-1;
	
}
.content{
	z-index:1;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.content .content-header h4{
	color:white;
	font-size:38px;
	padding-left:14px;
	line-height: 1.35em;
	text-transform: capitalize;
	text-align: center;
}
.content .content-subtitle{
	color:white;
	font-weight:500;
	font-size:14px;
	padding-left:14px;
	padding-right:34px;
	margin-top:14px;
	text-align: center;
	margin-bottom:20px;
	line-height: 1.5em;
}
	
.content-searchinput{
	display:flex;
}
.content-searchinput input{
	width:300px;
	height:40px;
	padding-left:12px;
	font-size:14px;
	text-transform: capitalize;
	background:white;
	border:none;
	
	
}
.content-searchinput button{
	background-color:#ed4c07;
	border:none;
	padding:12px;
	color:white;
	font-size: 16px;
	font-weight:bold;
	cursor: pointer;
	
}
.content-searchinput input:focus{
	outline: none;
}
.product-category{
	display:none;
}


/* product styling */
.products-section{
	padding:12px;
}

.cards{
	background-color:whitesmoke;
		width: 300px;
		border-radius: 5px;
		margin-bottom:12px;
	
		box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.product-img{
	width:inherit;
		height: 150px;
		border-radius: 5px;
}
.product-info{
	display:flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.product-price{
	color: #ed4c07;
	font-weight: bolder;

}
.product-btn{
	padding:12px 17px 12px 17px;
	margin-left:12px;
	background-color: #ed4c07;
	border:none;
	margin-bottom:12px;
	font-size:15px;
	color:white;
	border-radius:12px;
	font-weight: bold;
	cursor:pointer;
}
.product-row{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	
	
}
.sectionheading{
	font-size:18px;
	padding:16px;
}
/* making menu responsive and cart side bar responsive */

/* xsmaill media query */

@media (min-width: 475px) {
    body{
        background-color:green;
    }
	/* hide desktop menu */
	.menu-wrapper{
		display: none;
	}	
	.content .content-header h4{
		font-size: 38px;
		text-align: center;
	}
	.product-category{
		display:none;
	}
}


/* small devices media query */

@media (min-width: 640px) {
    body{
        background-color:red;
    }
	/* hide desktop menu */
	.menu-wrapper{
		display: none;
		
	}	
	.content .content-header h4{
		font-size: 28px;
	}
	.content-searchinput input{
		width:540px;
		height:40px;
		padding-left:12px;
		
		
	}
	.product-category{
		display:none;
	}
	/* product */
	.product-row{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		
		
	}
}

/* medium devices */
@media (min-width: 768px) {
    body{
        background-color:blue;
    }
	/* hide mobile menu on medium or tablet  */
	.mobilenav-items{
		display:none;
	}
	/* show desktop menu */
	.menu-wrapper{
		display: block;
		display:flex;
		align-items: center;
		justify-content: space-between;
	}	
	.product-category{
		display:none;
	}
	/* products */
	.product-row{
		padding: unset;
		display: grid;
		 grid-template-columns: repeat(2, 360px); 
		/* row-gap: 10px;  */
		align-items: center;
		justify-content: center;
		
		
	}
	.sectionheading{
		margin-left:106px;
	}
}


/* large devices */
@media (min-width: 1024px) {
    body{
        background-color:yellow;
    }
	.wrapper2{
		width:40%;
	}

	/* product category */
	.product-category .row{
		
		background-color:transparent !important;
		
	}
	.product-category .row .columns{
		
		padding:10px;
		
		font-size: 13px;
		display: flex;
		position: relative;
		left: -10px;
		
	}
	.column1 , .column2 , .column3 , .column4 , .column5{
		display:flex;
		align-items: center;
		justify-content: center;
		margin-right:10px;
		background-color:rgba(255, 255, 255, 0.247);
		word-spacing: 10px;
		color:white;
		font-weight:500;
		border-radius:10px;
	}

	.product-category{
		display:block;
	}
	/* product styling */
	.products-section{
		padding:32px;
	}
	.sectionheading{
		font-size:19px;
		font-weight:700;
		margin-bottom:24px;
	}
	.cards{
		background-color:white;
		width: 300px;
		border-radius: 5px;
		margin-bottom:10px;
		box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

		
	}
	.product-img{
		width:inherit;
		height: 150px;
		border-radius: 5px;
	}
	.product-info{
		display:flex;
		align-items: center;
		justify-content:space-between;
		padding:12px;
		
	}
	.product-title{
		font-size:18px;
		
	}
	.product-price{
		color: #ed4c07;
		font-weight: bolder;

	}
	.sectionheading{
		margin-left:55px;
		font-weight:bold;
	}

	.product-btn{
		padding:12px 17px 12px 17px;
		margin-left:12px;
		background-color: #ed4c07;
		border:none;
		margin-bottom:12px;
		font-size:15px;
		color:white;
		border-radius:12px;
		font-weight: bold;
		cursor:pointer;
	}
	.product-row{
		padding-left:10px;
		display: grid;
		 grid-template-columns: repeat(3, 360px); 
		/* row-gap: 10px;  */
		align-items: center;
		justify-content: center;
	}
}



/* xlarge devices */
@media (min-width: 1280px) {

}
